<!DOCTYPE html>
<html>
<head>
  <title>LZUOSS Online Register</title>
	<meta name="author" content="pengjingwen"/> 
	<meta name="copyright" content="Copyright © 2013">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" media="screen" /> 
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
